body {
	margin: 0;
	font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.talon{
    display: block;
}
.talonLarge{
    animation:zoom-out 0.8s ease-in
}
@keyframes zoom-out{
    0%,from {
        transform:scale(1.2);
    }
    100%,to { }
}